# requirements.txt - Update with compatible versions
numpy
pandas
urllib3
pytrends
requests
googlesearch-python
facebook-page-scraper
selenium
webdriver-manager
python-dateutil
selenium-wire
blinker==1.4  # Add this line
